@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: row;
    height: 50px;
}

.navbar li {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 0 15px;
}

#picture{
    font-weight: bolder;
    font-size: 23px;
}

#picture img {
    width: 40px;
}
